# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/

# Development
*.log
.DS_Store
.idea/
.vscode/

# Build
build/
dist/
*.spec
deployment/

# Application specific
mini_photo_frame/images/*
!mini_photo_frame/images/.gitkeep
mini_photo_frame/service_account/*
!mini_photo_frame/service_account/.gitkeep
config.txt  # Ignore local config